/*
Plugin: jQuery Parallax
Version 1.1
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */

body{
	font-family:"Metrophobic", sans-serif;
    margin: 0;
	padding: 0;
    font-size:14pt;
}

#nav{
    display:inline;
    top:0px;
	list-style: none;
	position: inline;
    left: 400px;
    z-index:15;
}

.topText {
    display: inline;
    top: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left:30px;
    vertical-align:top;
}

.navlogo {
    height:40px; 
}

#nav li{
    display: inline;
	margin-left: 50px ;	
}

#extras {
    position:absolute;
    right:100px;
    top: 0px;

}

#extras li {
    display: inline;
    margin-left: 15px;
}

p{
    color:#f2f2f2;
    text-shadow:0 1px 0 #222;
    padding-left:18px;
}

h2
{
    font-family: "Open Sans", sans-serif;
    letter-spacing: -0.05em;
    font-weight:700;
    font-size:2em;
    color:#fafafa;
    text-shadow:0 1px 0 #222;
    margin: 0px;
}


.description {
	width:600px;
	padding: 40px;
	background:  url('images/backDescription.png') repeat-y;
	border-radius: 30px;
    top:100px;
    position:absolute;
    left: 400px; 
	box-shadow:  0 0 15px #000;
	-webkit-box-shadow:  0 0 15px #000;
	-moz-box-shadow:  0 0 15px #000;
}

	.arrow {
		width:50px;
		height: 50px;
		background: url('images/balloonArrow.png') no-repeat;
		position: absolute;
		top: 50px;
		left: -50px;
	}
	
	.description h2{
		font-size: 34px;
		text-align: center;
		text-transform: uppercase;	
	}

	.description p {
		text-align: center;
	}

.playButton {
    -webkit-appearance: none;
    -webkit-background-origin: padding-box;
    -webkit-box-shadow: rgba(255, 255, 255, 0.0976562) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.179688) 0px 1px 0px 0px, rgb(162, 223, 254) 0px 1px 0px 0px inset;
    -webkit-font-smoothing: antialiased;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, rgb(119, 194, 253), rgb(94, 174, 245) 50%, rgb(87, 168, 241) 51%, rgb(66, 150, 231));
    background-origin: padding-box;
    border-bottom-color: #347FC6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #347FC6;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #347FC6;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #347FC6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.0976562) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.179688) 0px 1px 0px 0px, rgb(162, 223, 254) 0px 1px 0px 0px inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 0px;
    line-height: 34px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    outline-color: white;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    position: static;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizelegibility;
    text-shadow: rgba(15, 89, 153, 0.496094) 0px -1px 0px;
    vertical-align: baseline;
    width: 0px;

}


	
	.description ul li {
		list-style-type: none;
		height: 100px;
        width: 150px;
		float: left;
		padding: 10px;
		margin: 15px 5px;
		font-size: 16px;
	}

ul {
    list-style-type: circle;
}

li {
    margin-bottom: 0.5em;
    line-height: 1.4;
    color:#f2f2f2;
}


#top{
    top:0px;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    width: 100%;    
    z-index: 1000;
    color: white;
    font-size: 1.2em;
    padding: 10px 0px 7px 30px;
    border-left: 20px solid rgb(189,27,33);
}

a {
    color: #ccc;
    font-weight: 700;
    
}

#ikiLogo {
    display: inline;
    width:100px;
}

.parallaxElement {
    position:absolute;
    left:0px;
    width:100%;
    height:1500px;
}

.logo {
    width:250px;
    top:100px;
    left:100px;
    position:relative;
    z-index:50;
    display:block;
}

#lovestory, #cavetown, #qpark, #vidatec, #crash {
    position:relative;  
    height:1500px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    border-bottom: 1px solid #444;
}

.qpark-color { color:rgb(176,214,237); }
.cavetown-color { color: rgb(129,195,70); }
.vidatec-color { color:rgb(55,117,201); }
.lovestory-color { color:#c33;}
.crash-color { color: rgb(255,230,85);}


.cavetown-list  { border-bottom: 1px solid rgb(129,195,70); }
.qpark-list     { border-bottom: 1px solid rgb(176,214,237);}
.vidatec-list   { border-bottom: 1px solid rgb(55,117,201); }
.lovestory-list { border-bottom: 1px solid #c33;}
.crash-list     { border-bottom: 1px solid rgb(255,230,85);}


#cavetown { z-index:5;}
#qpark { z-index:4;}
#vidatec { z-index:3;}
#lovestory {z-index:2;}
#crash { z-index:1;}

#cavetown-bg { background:url(images/CaveTown3.jpg) no-repeat fixed; }
#cavetown-mg { background:url(images/CaveTown2.png) no-repeat fixed; }
#cavetown-fg { background:url(images/CaveTown1.png) no-repeat fixed; }

#qpark-bg { background:url(images/Qpark3.png) no-repeat; }
#qpark-mg{ background:url(images/Qpark2.png) no-repeat; }
#qpark-fg { background:url(images/Qpark1.png) no-repeat; }

#vidatec-bg { background:url(images/VidaTec3.jpg) no-repeat fixed; }
#vidatec-mg { background:url(images/VidaTec2.png) no-repeat fixed; }
#vidatec-fg { background:url(images/VidaTec1.png) no-repeat fixed; }

#lovestory-bg { background:url(images/LoveStory3.jpg) no-repeat; }
#lovestory-fg { background:url(images/LoveStory1.png) no-repeat; }

#crash-bg { background:url(images/CrashPollito3.png) no-repeat; }
#crash-mg{ background:url(images/CrashPollito2.png) no-repeat; }
#crash-fg { background:url(images/CrashPollito1.png) no-repeat; }



